{
  "printWidth": 85,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "endOfLine": "lf",
  "importOrder": [
    "^\\w",
    "^@common/",
    "^\\.\\./",
    "(?!.*\\.scss$)",
    "\\.scss$"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "plugins": ["@prettier/plugin-php", "@trivago/prettier-plugin-sort-imports"],
  "phpVersion": "7.4"
}
